body{
	background-image:url(images/pattern_bg.jpg);
}

.content{
	width:980px;
	margin:0 auto;
}

.cube-container {
	width: 200px;
	height: 200px;
	position: relative;
	margin: 0 auto 40px;
	border: 1px solid #CCC;
	-webkit-perspective: 1200px;
	-moz-perspective: 1200px;
	-o-perspective: 1200px;
	perspective: 1200px;
}

h1{
	font-variant:small-caps;
	color:#5F5;
}

#cube {
	width: 100%;
	height: 100%;
	position: absolute;
}


#cube > div {
	display: block;
	position: absolute;
	width: 196px;
	height: 196px;
	border: 2px solid black;
	line-height: 196px;
	font-size: 120px;
	font-weight: bold;
	color: white;
	text-align: center;
}

#cube .front  {
	background-color: hsla(   0, 100%, 50%, 0.7 ); 
	-webkit-transform: translateZ(100px);
	-moz-transform: translateZ(100px);
	-o-transform: translateZ(100px);
	transform: translateZ(100px);
}

#cube .back {
	background-color: hsla(  60, 100%, 50%, 0.7 );
	-webkit-transform: rotateX(-180deg) translateZ(100px);
	-moz-transform: rotateX(-180deg) translateZ(100px);
	-o-transform: rotateX(-180deg) translateZ(100px);
	transform: rotateX(-180deg) translateZ(100px);
}

#cube .right {
	background-color: hsla( 120, 100%, 50%, 0.7 );
	-webkit-transform: rotateY(90deg) translateZ(100px);
	-moz-transform: rotateY(90deg) translateZ(100px);
	-o-transform: rotateY(90deg) translateZ(100px);
	transform: rotateY(90deg) translateZ(100px);
}

#cube .left {
	background-color: hsla( 180, 100%, 50%, 0.7 );
	-webkit-transform: rotateY(-90deg) translateZ(100px);
	-moz-transform: rotateY(-90deg) translateZ(100px);
	-o-transform: rotateY(-90deg) translateZ(100px);
	transform: rotateY(-90deg) translateZ(100px);
}

#cube .top {
	background-color: hsla( 240, 100%, 50%, 0.7 );
	-webkit-transform: rotateX(90deg) translateZ(100px);
	-moz-transform: rotateX(90deg) translateZ(100px);
	-o-transform: rotateX(90deg) translateZ(100px);
	transform: rotateX(90deg) translateZ(100px);
}

#cube .bottom {
	background-color: hsla( 300, 100%, 50%, 0.7 );
	-webkit-transform: rotateX(-90deg) translateZ(100px);
	-moz-transform: rotateX(-90deg) translateZ(100px);
	-o-transform: rotateX(-90deg) translateZ(100px);
	transform: rotateX(-90deg) translateZ(100px);
}
