body{
	background-image:url(images/pattern_bg.jpg);
}

.content{
	width:980px;
	margin:0 auto;
}

.cube-container {
	height: 200px;
	position: relative;
	margin: 0 auto 40px;
	border: 1px solid #CCC;
	-webkit-perspective: 1200px;
	-moz-perspective: 1200px;
	-o-perspective: 1200px;
	perspective: 1200px;
}

h1{
	font-variant:small-caps;
	color:#5F5;
}

.cube-container > div{
	width:170px;
	height:170px;
	position: absolute;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-animation: spincubeWebkit 8s infinite ease-in-out;
	-moz-animation: spincubeMoz    8s infinite ease-in-out;
	-o-animation: spincubeO      8s infinite ease-in-out;
	animation: spincube       8s infinite ease-in-out;
}

#cube1 {
	top:0;
	left:0;
}

#cube2 {
	top:0;
	left:200px;
}

#cube3 {
	top:0;
	left:400px;
}

#cube4 {
	top:0;
	left:600px;
}

#cube5 {
	top:0;
	left:800px;
}


.cube-container > div > div {
	display: block;
	position: absolute;
	width: 170px;
	height: 170px;
	border: 2px solid black;
	line-height: 170px;
	font-size: 120px;
	font-weight: bold;
	color: white;
	text-align: center;
}

.front  {
	background-color: hsla(   0, 100%, 50%, 0.7 ); 
	-webkit-transform: translateZ(86px);
	-moz-transform: translateZ(100px);
	-o-transform: translateZ(100px);
	transform: translateZ(100px);
}

.back {
	background-color: hsla(  60, 100%, 50%, 0.7 );
	-webkit-transform: rotateX(-180deg) translateZ(86px);
	-moz-transform: rotateX(-180deg) translateZ(100px);
	-o-transform: rotateX(-180deg) translateZ(100px);
	transform: rotateX(-180deg) translateZ(100px);
}

.right {
	background-color: hsla( 120, 100%, 50%, 0.7 );
	-webkit-transform: rotateY(90deg) translateZ(86px);
	-moz-transform: rotateY(90deg) translateZ(100px);
	-o-transform: rotateY(90deg) translateZ(100px);
	transform: rotateY(90deg) translateZ(100px);
}

.left {
	background-color: hsla( 180, 100%, 50%, 0.7 );
	-webkit-transform: rotateY(-90deg) translateZ(86px);
	-moz-transform: rotateY(-90deg) translateZ(100px);
	-o-transform: rotateY(-90deg) translateZ(100px);
	transform: rotateY(-90deg) translateZ(100px);
}

.top {
	background-color: hsla( 240, 100%, 50%, 0.7 );
	-webkit-transform: rotateX(90deg) translateZ(86px);
	-moz-transform: rotateX(90deg) translateZ(100px);
	-o-transform: rotateX(90deg) translateZ(100px);
	transform: rotateX(90deg) translateZ(100px);
}

.bottom {
	background-color: hsla( 300, 100%, 50%, 0.7 );
	-webkit-transform: rotateX(-90deg) translateZ(86px);
	-moz-transform: rotateX(-90deg) translateZ(100px);
	-o-transform: rotateX(-90deg) translateZ(100px);
	transform: rotateX(-90deg) translateZ(100px);
}

/*@-webkit-keyframes spincubeWebkit {
	0% { 
		-webkit-transform: translateZ( -100px ) rotateX(   0deg ) rotateY(   0deg ); 
	}
	100% { 
		-webkit-transform: translateZ( -100px ) rotateX( 360deg ) rotateY( 360deg ); 
	}
}

@-moz-keyframes spincubeMoz {
	0% { 
		-moz-transform: translateZ( -100px ) rotateX(   0deg ) rotateY(   0deg ); 
	}
	100% { 
		-moz-transform: translateZ( -100px ) rotateX( 360deg ) rotateY( 360deg ); 
	}
}

@-o-keyframes spincubeO {
	0% { 
		-moz-transform: translateZ( -100px ) rotateX(   0deg ) rotateY(   0deg ); 
	}
	100% { 
		-moz-transform: translateZ( -100px ) rotateX( 360deg ) rotateY( 360deg ); 
	}
}

@keyframes spincube{
	0% { 
		-moz-transform: translateZ( -100px ) rotateX(   0deg ) rotateY(   0deg ); 
	}
	100% { 
		-moz-transform: translateZ( -100px ) rotateX( 360deg ) rotateY( 360deg ); 
	}
}*/
